footer {
  display: flex;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  place-items: center;
  /* background: linear-gradient(315deg, #ffffff, #d7e1ec); */
  background-color: #171a21;
}
.logo-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100% auto;
  text-decoration: none;
}
.logo-footer img {
  margin-top: 10px;
  width: 100px;
}
.copy {
  display: flex;
  color: white;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  width: auto;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.facebook {
  --color: #1877f2;
}
.twitter {
  --color: #0e0f10;
}
.instagram {
  --color: #e4405f;
}


.icon:hover,
.icon:hover .tooltip,
.icon:hover .tooltip::before {
  background: var(--color);
  color: white;
}
@media screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  .logo-footer {
    position: relative;
    justify-content: center;
    align-items: center;
  }
}

.copyr {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222221;
}
.copyr p {
  font-size: 12px;
  justify-content: center;
  display: flex;
  color: white;
}
