header {
  background-color: #171d25;
  position: sticky; /*navbar queda fijo*/
  top: 0px;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

/* styles.css */
.navbar_stilos .nav-link {
  color: white; /* Cambia a cualquier color que prefieras */
}

.navbar_stilos .nav-link:hover {
  color: lightgray; /* Cambia a cualquier color que prefieras para el efecto hover */
}


.nav-link {
  color: white;
}
.navbar img {
  width: 100%;
  height: 6vh;
}
.carrito img {
  height: 5vh;
  width: 100%;
  object-fit: cover;
}
.carrito button {
  background: none;
}
.navbar-toggler {
  background-color: rgba(240, 255, 255, 0.178);
}

@media screen and (max-width: 987px) {
  .navbar-brand img {
    width: 58px;
    height: 58px;
  }
}


